<!DOCTYPE html>
<html>
  <head>
    <title>AnonChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
    <script src="{{ url_for('static', filename='libs/crypto-js.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/jsencrypt.js') }}"></script>
    <script src="{{ url_for('static', filename='messages.js') }}"></script>
    <script>
      var server_key = "{{ public_key }}";
      var crypt = new JSEncrypt();
      crypt.setPublicKey(server_key);

      var key;
      var iv;

      $(document).ready(function() {
        $('#setKeyButton').click(function() {
          key = CryptoJS.enc.Utf8.parse($('#keyInput').val());
          iv = CryptoJS.enc.Utf8.parse($('#ivInput').val());
          // Далее выполняются остальные скрипты
        });

        // Функция для отправки сообщения с помощью AJAX
        function postMessage() {
          var message = $('#message').val();
          var name = $('#name').val();
          if (message !== '' && name !== '') {
            var name = crypt.encrypt(name);
            var message = crypt.encrypt(message);
            $.post('/post_message', {message: message, name: name}, function(data) {
              if (data.status === 'OK') {
                $('#message').val('');
              }
            });
          }
        }

        // Функция для получения и отображения сообщений с помощью AJAX
        function getMessages() {
          $.get('/get_messages', function(data) {
            $('#chatbox').empty();
            for (var i = 0; i < data.length; i++) {
              var message = data[i];
              var decryptname = CryptoJS.AES.decrypt(message.name, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });
              var decryptname = decryptname.toString(CryptoJS.enc.Utf8);
              var decryptmessage = CryptoJS.AES.decrypt(message.message, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });
              var decryptmessage = decryptmessage.toString(CryptoJS.enc.Utf8);
              var html = '<strong>' + decryptname + ' : ' + decryptmessage + '<br>';
              $('#chatbox').append(html);
            }
          });
        }

        // Обновление сообщений каждые 0.5 секунды
        setInterval(function() {
          getMessages();
        }, 500);

        // Обработчик события для кнопки отправки сообщения
        $('#sendButton').click(function() {
          postMessage();
        });

        // Обработчик события для поля сообщения при нажатии Enter
        $('#message').keypress(function(e) {
          if (e.which === 13) {
            postMessage();
          }
        });
      });
    </script>
    <style>
          #chatbox {
      max-width: 600px;
      margin: 50px auto; /* Центрирование */
      padding: 10px;
      background-color: #495057; /* Цвет фона для чата */
      border-radius: 5px;
      overflow-y: auto; /* Добавлено для прокрутки */
      max-height: 400px; /* Максимальная высота для контейнера */
      word-wrap: break-word; /* Позволяет переносить длинные слова */
    }
    .input-container {
      max-width: 600px;
      margin: 0 auto; /* Центрирование */
    }
    #message {
      height: auto; /* Параметр высоты для увеличения */
      overflow: hidden; /* Скрыть прокрутку */
      box-sizing: border-box; /* Учет padding при вычислении высоты */
    }
    </style>
  </head>
  <body>
      <div id="chatbox" class="mb-3"></div>

  <div class="input-container d-flex justify-content-center mb-3">
    <input type="text" class="form-control me-2" placeholder="Name" id="name">
    <input type="text" id="message" class="form-control me-2" placeholder="Message">
    <button id="sendButton" class="btn btn-primary">send</button>
  </div>

  <div class="text-center">
    <div class="input-container d-flex justify-content-center mb-3">
      <input type="text" id="keyInput" class="form-control me-2" placeholder="Enter key">
    <input type="text" id="ivInput" class="form-control me-2" placeholder="Enter IV">
    <button id="setKeyButton" class="btn btn-primary">Install key and IV</button>
    </div>
    <button id="toggleTheme" class="btn btn-secondary">Switch themes</button>
   <script src="{{ url_for('static', filename='themes.js') }}"></script>
  </div>
  </body>
</html>
